hr {
  margin-bottom: 20px;
}
#pickle {

}
.btn {
  background-color: #90ee90;
}
.btn:hover {
  background-color: #ccccfe;
}
.nav-wrapper {
  background-color: black;
  font-family: 'Poiret One', cursive;
}
.page-footer {
  background-color: black;
  font-family: 'Poiret One', cursive;
}
.page-footer .footer-copyright {
    overflow: hidden;
    min-height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0px;
    color: black;
    background-color: #ccccfe;
}

.footer-copyright {
  font-family: 'Poiret One', cursive;
}

.lilac {
  background-color: #ccccfe;
}
.ligreen {
  background-color: #90ee90;
}

.smokewhite {
  background-color: whitesmoke;
}
.star {
  border-radius: 25px;
  background: #73AD21;
  margin-top: 100px;
  margin-right: 35px;
  padding: 20px; 
  width: 250px;
  height: 200px; 
}
.melon {
  border-radius: 25px;
  background: #73AD21;
  margin-top: 100px;
  margin-right: 35px;
  margin-bottom: 50px;
  position: 10px;
  padding: 20px; 
  width: 250px;
  height: 200px; 
}
.dream {
  border-radius: 25px;
  background: #73AD21;
  margin-top: 100px;
  padding: 20px; 
  width: 250px;
  height: 200px; 
}
.stuff {
  font-family: 'Righteous', cursive;
  border: solid #ccccfe 3px;
  background: #ccccfe;
  margin-top: -2px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 4px;
  display: inline-block;
  height: 70px;
  line-height: 36px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
  opacity: .8;
}
.stuff2 {
  font-family: 'Righteous', cursive;
  background: #ccccfe;
  border: solid #ccccfe 0px;
  border-left-width: 20px;
  border-right-width: 30px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: -8px;
  border-radius: 4px;
  display: inline-block;
  height: 70px;
  line-height: 36px;
  padding-top: 15px;
  padding-bottom: 70px;
  padding-left: 500px;
  padding-right: 520px;
  vertical-align: middle;
  opacity: .8;
}
.stuff3 {
  font-family: 'Righteous', cursive;
}

.stuff4 {
  font-family: 'Righteous', cursive;
  background: #90ee90;
  border: solid #90ee90 0px;
  border-right-width: 35px;
  margin-top: 0px;
  margin-left: -190px;
  margin-right: 0px;
  margin-bottom: -20px;
  border-radius: 4px;
  display: inline-block;
  height: 70px;
  line-height: 36px;
  padding-top: 15px;
  padding-bottom: 70px;
  padding-left: 500px;
  padding-right: 520px;
  vertical-align: middle;
  opacity: .8;
}

img {
  background-repeat: repeat-y;
}

h2 {
  font-family: 'Righteous', cursive;
}

.font-p {
  font-family: 'Poiret One', cursive;
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
}
#occup {
  font-family: 'Poiret One', cursive;
  font-size: 18px;
  font-weight: bold;
  border: solid #90ee90 1.5px;
  margin-top: -2px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 4px;
  background: #90ee90;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  vertical-align: middle;
  opacity: .8;
}
.container {
  text-align: center;
}
.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.1;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

#header {
  font-family: 'Righteous', cursive;
  position: absolute;
  z-index: 1000;
  top: 200px;
  left: 200px;
}
.parallax-container {
  height: 500px;
}
.parallax-content {
  width: 100%;
  padding: 175px;
  margin: 0 auto;
  vertical-align:middle;
  text-align:center;
  height: 400px;
}
.parallax-content-1 {
  width: 100%;
  padding: 0px;
  margin: 0 auto;
  vertical-align:middle;
  text-align:center;
  height: 400px;
}
.parallax-content-3 {
  width: 100%;
  padding: 100px;
  margin: 0 auto;
  vertical-align:middle;
  text-align:center;
  height: 400px;
}

#rcorners1 {
  border-radius: 15px 50px;
  background: #90ee90;
  padding: 20px; 
  width: 700px;
  height: 300px;
  text-align: center;
  margin-left: 200px;
  opacity: .8; 
}

table {
  border-style: double;
  border-width: 5px;
}

th {
  font-family: 'Righteous', cursive;
}

@media only screen and (max-device-width: 1024px) {
  .parallax {
      background-attachment: scroll;
  }
}

.navbar {
  margin-bottom: 0 !important;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

@media only screen and (max-width: 500px) {
  .stuff {
    font-family: 'Righteous', cursive;
    border: solid #ccccfe 3px;
    background: #ccccfe;
    margin-top: -2px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 4px;
    display: inline-block;
    height: 70px;
    line-height: 36px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: middle;
    opacity: .8;
  }
  .stuff2 {
    font-family: 'Righteous', cursive;
    background: #ccccfe;
    border: solid #ccccfe 10px;
    text-align: center;
    margin-left: -110px;
    margin-bottom: -8px;
    border-radius: 4px;
    display: inline-block;
    height: 70px;
    line-height: 36px;
    padding-top: 15px;
    padding-bottom: 70px;
    padding-left: 500px;
    padding-right: 520px;
    opacity: 0.8;
  }
  .stuff3 {
    font-family: 'Righteous', cursive;
    font-size: 50px;
    text-align: center;
  }
  
  img {
    background-repeat: repeat-y;
  }
  
  h2 {
    font-family: 'Righteous', cursive;
  }
  
  .font-p {
    font-family: 'Poiret One', cursive;
    font-size: 18px;
    font-weight: bold;
  }
  #occup {
    font-family: 'Poiret One', cursive;
    font-size: 18px;
    font-weight: bold;
    border: solid #90ee90 1.5px;
    margin-top: -2px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 4px;
    background: #90ee90;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    vertical-align: middle;
    opacity: .8;
  }
  .container {
    text-align: center;
  }
  .display-3 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .lead {
    font-size: 1.25rem;
    font-weight: 300;
  }
  
  #header {
    font-family: 'Righteous', cursive;
    position: absolute;
    z-index: 1000;
    top: 200px;
    left: 200px;
  }
  .parallax-container {
    height: 500px;
  }
  .parallax-content {
    width: 100%;
    padding: 175px;
    margin: 0 auto;
    vertical-align:middle;
    text-align:center;
    height: 400px;
  }
  .parallax-content-1 {
    width: 100%;
    padding: 0px;
    margin: 0 auto;
    vertical-align:middle;
    text-align:center;
    height: 400px;
  }
  .parallax-content-3 {
    width: 100%;
    padding: 100px;
    margin: 0 auto;
    vertical-align:middle;
    text-align:center;
    height: 400px;
  }
  
  #rcorners1 {
    border-radius: 15px 50px;
    background: #90ee90;
    padding: 20px; 
    width: 700px;
    height: 200px;
    text-align: center;
    margin-left: 55px;
    opacity: 0.8; 
  }
  
  table {
    border-style: double;
    border-width: 5px;
  }
}
  
@media only screen and (max-width: 1024px) {
  .stuff {
    font-family: 'Righteous', cursive;
    border: solid #ccccfe 3px;
    background: #ccccfe;
    margin-top: -2px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 4px;
    display: inline-block;
    height: 70px;
    line-height: 36px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: middle;
    opacity: .8;
  }
  .stuff2 {
    font-family: 'Righteous', cursive;
    background: #ccccfe;
    border: solid #ccccfe 10px;
    text-align: center;
    margin-left: -110px;
    margin-bottom: -8px;
    border-radius: 4px;
    display: inline-block;
    height: 70px;
    line-height: 36px;
    padding-top: 15px;
    padding-bottom: 70px;
    padding-left: 500px;
    padding-right: 520px;
    opacity: 0.8;
  }
  .stuff3 {
    font-family: 'Righteous', cursive;
    font-size: 50px;
    text-align: center;
  }
  .stuff4 {
    font-family: 'Righteous', cursive;
    background: #90ee90;
    border: solid #90ee90 0px;
    border-right-width: 35px;
    margin-top: 0px;
    margin-left: -190px;
    margin-right: 0px;
    margin-bottom: -20px;
    border-radius: 4px;
    display: inline-block;
    height: 70px;
    line-height: 36px;
    padding-top: 15px;
    padding-bottom: 70px;
    padding-left: 450px;
    padding-right: 520px;
    vertical-align: middle;
    opacity: .8;
  }
  
  img {
    background-repeat: repeat-y;
  }
  
  h2 {
    font-family: 'Righteous', cursive;
  }
  
  .font-p {
    font-family: 'Poiret One', cursive;
    font-size: 18px;
    font-weight: bold;
  }
  #occup {
    font-family: 'Poiret One', cursive;
    font-size: 18px;
    font-weight: bold;
    border: solid #90ee90 1.5px;
    margin-top: -2px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 4px;
    background: #90ee90;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    vertical-align: middle;
    opacity: .8;
  }
  .container {
    text-align: center;
  }
  .display-3 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .lead {
    font-size: 1.25rem;
    font-weight: 300;
  }
  
  #header {
    font-family: 'Righteous', cursive;
    position: absolute;
    z-index: 1000;
    top: 200px;
    left: 200px;
  }
  .parallax-container {
    height: 500px;
  }
  .parallax-content {
    width: 100%;
    padding: 175px;
    margin: 0 auto;
    vertical-align:middle;
    text-align:center;
    height: 400px;
  }
  .parallax-content-1 {
    width: 100%;
    padding: 0px;
    margin: 0 auto;
    vertical-align:middle;
    text-align:center;
    height: 400px;
  }
  .parallax-content-3 {
    width: 100%;
    padding: 100px;
    margin: 0 auto;
    vertical-align:middle;
    text-align:center;
    height: 400px;
  }
  
  #rcorners1 {
    border-radius: 15px 50px;
    background: #90ee90;
    padding: 20px; 
    width: 700px;
    height: 200px;
    text-align: center;
    margin-left: 55px;
    opacity: 0.8; 
  }
  
  table {
    border-style: double;
    border-width: 5px;
  }
}

